<!DOCTYPE html>
<html>
    <head>
        <title>welcome to Html Forms</title>
    </head>
    <body>
        <h1>User Registration Form</h1>
        <form action="/submit" method="POST">
            <label>Username:</label><br>
            <input type="text" name = "username" required><br><br>
            <label>email:</label><br>
            <input type="email" name="email" required><br><br>
            <label>rollno:</label><br>
            <input type="text" name="roll" required><br><br>
            <input type="submit" value="Register">

        </form>
    </body>
</html>